form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type=submit] {
    font-size: 1.2rem;
    color: white;
    background: #ec5990;
    border: none;
    padding: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 4px;
    width: 300px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

input[type=submit]:hover{
    background: #f0a4c0;
}