.todo {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(133, 133, 133);
    color: white;
}

.todo-delete, .todo-complete {
    background: transparent;
    border: none;
    margin-left: 0.5rem;
    cursor: pointer;
    color: white;
}

.todo-complete:hover, .todo-delete:hover {
    transform: rotate(10deg);
    color: powderblue;
}

.todo-text {
    font-weight: bold;
}

.todo-date {
    margin-top: 10px;
    font-size: 0.9rem;
    color: whitesmoke;
}

.skyblue {
    background: skyblue;
}

.lavender {
    background: rgb(192, 192, 218);
}

.coral {
    background: coral;
}