.navbar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.navbar {
    background-color: rgb(198, 147, 223);
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.2);
}

.navbar li{
    margin: 1rem;
}

.navbar a {
    text-decoration: none;
}

.navbar a.nav-selected {
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .navbar ul{
        flex-direction: row;
        /* justify-content: flex-end; */
    }
}